<div class="container">
    <h2>Operadores Lógicos</h2>    
    
<div class="row">

    <table class="table">

        <thead>
          <tr>
            <button [routerLink]="['/and']"   >AND &&</button>
            <button [routerLink]="['/or']" routerLinkActive="router-link-active"  >OR ||</button>
            <button [routerLink]="['/not']" routerLinkActive="router-link-active"  >NOT !</button>
            <button> <a href="https://dicasdeprogramacao.com.br/operadores-logicos/#:~:text=O%20Operador%20%E2%80%9CE%E2%80%9D%20ou%20%E2%80%9C,tabela%2Dverdade%20da%20opera%C3%A7%C3%A3o%20E." target="_blank"> <b>+</b> sobre operadores lógicos </a> </button> 
            <button  > Link do projeto</button>
          </tr>
        </thead>
        
      </table>
    
</div>
    
</div>

<router-outlet></router-outlet>

